<ion-content>
  <div class="login-toolbar">
    <div class="login-curve">
      <ion-title>Sign Up</ion-title>
    </div>
  </div>

  <ion-list no-lines class="signup-form">

    <ion-item class="custom-input">
      <ion-label position="floating">First Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item class="custom-input">
      <ion-label position="floating">Last Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item class="custom-input">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item class="custom-input">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-item class="custom-input">
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <div class="pd10">
      <ion-button class="btn-common" expand="full" color="primary" (click)="toBlog()">
        Sign Up
      </ion-button>
    </div>
    <p class="sign-up" (click)="toLogIn();">Already have an account? <a>Log In</a></p>

  </ion-list>
</ion-content>