.blog-detail {
  .mb0 {
    margin-bottom: 0;
  }
  .author-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .author-pic {
      max-height: 80px;
      border: 2px solid $white;
      border-radius: 100%;
    }
    .author-name {
      margin: 2px 0;
    }
  }
  .blog-date {
    text-align: right;
    padding-right: 10px;
    font-size: 1.5rem;
    color: $secondary-color;
  }
  .blog-detail-title {
    padding: 0 10px;
    span {
      font-size: 1.8rem;
    }
  }
  .pd0 {
    padding: 5px 0;
  }
  .blog-desc {
    p {
      font-size: 1.6rem;
      text-align: justify;
      margin: 10px 5px;
    }
    padding: 0 10px;
  }
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}