// http://ionicframework.com/docs/v2/theming/
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../pages/blog/blog";
@import "../pages/item-details/item-details";
@import "../pages/login/login";
@import "../pages/signup/signup";
@import "../pages/user-profile/user-profile";

.menu-toolbar {
  padding: 0;
  .toolbar-background {
    background: $white;
  }
  .toolbar-title {
    color: $white;
  }
  ion-item.item {
    background: $secondary-color;
    ion-avatar img {
      border: 1px solid $white;
    }
    .item-inner {
      border: none;
    }
    h2 {
      color: $white;
    }
    p {
      color: $white;
    }
  }
}

.toolbar-background {
  background: $primary-color;
}

.toolbar-title {
  color: $secondary-color;
}

.avatar-main {
  margin-bottom: 20px;
  margin-top: 8px;
  padding: 25px 25px 40px;
  border-radius: 0 0 50% 50%;
  background-color: $secondary-color;
  .avatar {
    float: left;
    width: 75px;
    height: 75px;
    overflow: hidden;
    img {
      border: 0.2em solid $white;
      border-radius: 100%;
    }
  }
  .avatar-info {
    display: inline-block;
    padding: 15px;
    h5,
    p {
      margin: 0;
      color: $white;
    }
  }
}

.active {
  ion-icon {
    color: $secondary-color;
  }
  ion-label {
    span {
      color: $secondary-color;
    }
  }
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color !important;
}

.primary-background {
  background-color: $primary-color;
}

.secondary-background {
  background-color: $secondary-color;
}

@font-face {
    font-family: 'JosefinSans-Regular';
    src: url('../fonts/JosefinSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'JosefinSans-SemiBold';
    src: url('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

*{
  font-family: 'JosefinSans-SemiBold';
}