.image-holder {
    position: relative;
    .gallery-type {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 0;
        background-color: rgba(54, 38, 54, 0.6);
        color: $white;
    }
}
