<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Gallery</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid *ngIf="galleries.length>0">
        <ion-row *ngFor="let item of galleries">
            <ion-col width-50 (click)="toDetail(gallery.id)" *ngFor="let gallery of item">
                <div class="image-holder">
                    <img [src]="gallery.image" alt="">
                    <div class="gallery-type">
                        <span>{{gallery.name}}</span>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
