<ion-header>
  <ion-navbar>
    <ion-title>Blog Detail</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="blog-detail" *ngIf="blogDetail.ID">
    <div class="login-curve pic-holder mb0">
      <div class="author-detail">
        <img class="author-pic" src="{{blogDetail.author.avatar_URL}}" alt="">
        <h5 class="author-name">{{blogDetail.author.name}}</h5>
      </div>
    </div>

    <ion-card>
      <ion-card-content class="pd0">
        <p class="blog-date">{{blogDetail.date | date:'MMM d, y'}}</p>
        <div class="blog-detail-title">
          <span [innerHTML]="blogDetail.title"></span>
        </div>
        <img src="{{blogDetail.featured_image}}" *ngIf="blogDetail.featured_image">
        <div class="blog-desc" [innerHTML]="blogDetail.content"></div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
